{port_sources, ["c_src/*.cpp"]}.
{so_name, "kyte_nifs.so"}.

{port_envs, [
             %% Make sure to link -lstdc++
              {"CXXFLAGS", "$CXXFLAGS -I./priv/kyoto-root/include"},
              {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
              "LDFLAGS", "$LDFLAGS -lstdc++"},
              {"LDFLAGS", "$LDFLAGS ./priv/kyoto-root/lib/libkyotocabinet.a"}
]}.

{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{sub_dirs, ["rel"]}.
{deps_dir, [".."]}.
{deps, [
	 {sext, ".*", {git, "git://github.com/esl/sext", "master"}}
]}.
{pre_hooks, [
	{compile, "./priv/make_kyoto.sh"}
]}.
